@model Common;
@*@model IEnumerable<Contact>;*@
@{
    ViewData["Title"] = "Contacts";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <p>
        <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#Add">Adicionar</button>
    </p>
</div>

<h5>Filtro</h5>
<p>Digite algo no campo para pesquisar na tabela por nome ou tipo:</p>
<input class="form-control" id="searchContact" type="text" placeholder="Search..">

<br />

<div class="text-center">
    <h3>Contacts List</h3>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">CPF</th>
                <th scope="col">Sexo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Ativo</th>
            </tr>
        </thead>
        <tbody id="tableContact">
            @if (Model.ListContacts.Any())
            {
                foreach (Contact contato in Model.ListContacts)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.DataNascimento.ToShortDateString()</td>
                        <td>@contato.Cpf</td>
                        <td>@contato.Sexo</td>
                        <td>@contato.Types.Name</td>
                        <td>@contato.Ativo</td>
                        @*<td>
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Editar", "Editar", new { id = contato.Id }) |
                                @Html.ActionLink("Deletar", "Deletar", new { id = contato.Id })
                            </div>
                        </td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("#searchContact");
        filter = input.value.toUpperCase();
        table = document.getElementById("#tableContact");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                break;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>

<div class="modal" id="Add" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Novo Contato</h3>
            </div>

            <div class="modal-body">
                <form asp-controller="Contact" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Contact.Nome" class="control-label"></label>
                        <input asp-for="Contact.Nome" required="" class="form-control" />
                        <span asp-validation-for="Contact.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.DataNascimento" class="control-label"></label>
                        <input type="date" asp-for="Contact.DataNascimento" required="" class="form-control" />
                        <span asp-validation-for="Contact.DataNascimento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Cpf" class="control-label">CPF</label>
                        <input asp-for="Contact.Cpf" onkeypress="$(this).mask('000.000.000-00');" required="" class="form-control" />
                        <span asp-validation-for="Contact.Cpf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Sexo" class="control-label"></label>
                        <select asp-for="Contact.Sexo" class="control-label">
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>

                    </div>
                    @*<div class="form-group">
                    <label asp-for="Contact.TypesId" class="control-label"></label>
                    <select asp-for="Contact.TypesId" class="form-control" asp-items="ViewBag.TypesId"></select>
                    <a type="button" id="addTipo" class="btn btn-info btn-md" asp-controller="Type" asp-action="Index">Não encontrou o tipo?</a>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Contact.TypesId">Tipo</label>
                        <select class="form-control" asp-for="Contact.TypesId" asp-items="@(new SelectList(Model.ListTypes, "Id", "Name"))">
                        </select>
                        <br />
                        <a type="button" id="addTipo" class="btn btn-info btn-md" asp-controller="Type" asp-action="Index">Não encontrou o tipo?</a>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Contact.Ativo" /> @Html.DisplayNameFor(Model => Model.Contact.Ativo)
                        </label>
                    </div>

                    <input type="submit" value="Create" class="btn btn-primary"></input>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>

            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }